/* Edited with EditCSS */
/**** LINK-tag style sheet stylin.css ****/

a:hover, a.nav:hover { color: #4E591C; }
body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:80%;
	background-color:#eee;
	background-repeat:repeat-x;
	padding:10px 12px;
}
p
{
	margin-bottom: 1em;
}
h1
{
	font-size:140%;
	font-weight:bold;
}
h2
{
	font-size:140%;
	font-weight:bold;
}
body>h1
{
	margin-top:0;
}


h1.admin
{
	font-size:110%;
	font-weight:bold;
}

table.admin
{
	width: 100%;
	background-color:#eee;
	border-bottom: 20px solid #000000;
	border-right: 20px solid #eff0ff;
	border-top: 50px solid #eff0ff;
	border-left: 20px solid #eff0ff;
	border-bottom: 20px solid #eff0ff;
}

table 
{
	width: 100%;
	background-color:#eee;
	border-bottom: 0px solid #000000;
	border-right: 0px solid #000000;
	border-top: 0px solid #000000;
	border-left: 0px solid #000000;
}
th
{
	font-weight:bold;
	color: #000;
	text-align:left;
	vertical-align:bottom;
	padding:3px 5px;
	background-color:#eee;
	border-left: 1px solid #c4c4c4;
}
td 
{
	text-align:left;
	vertical-align:top;
	padding:3px 5px;
	background-color:#fff;
	border-left: 0px;
}
tr.alt td
{
	background-color:#edf3fe;
	border-left: 1px solid #D9D9D9;
}
}

td.nav_cell div{
	display: none;
	position: absolute;
	border: 1px solid black;
	width: 36em;
	background-color: #f0f5ff;
	font-size: .9em;
	padding: .8em;
	margin-left: -38em;
	margin-top: -4.8em;
	opacity: 0.85;
}
td.nav_cell:hover div{
	display: block;
}

td.nav_cell div:before{
	content: "Freshmeat pkg info";
	display: block;
	border-bottom: 1px solid #999999;
	padding-left: 1em;
	font-weight: bold;
	margin-bottom: .5em;
	font-family: georgia, sans-serif;
	font-style: italic;
	text-align: right;
}
td.nav_cell div span{
	display: block;
	font-weight: bold;
}
td.nav_cell div p{
	margin: 0;
	padding: 0;
	padding-left: 2em;
	font-size: 1em;
}
td.nav_cell div:hover{
	display: none;
}

tr.alt td.hilite
{
	background-color:red;
}

tr.alt td.true
{
	color:green;
}

tr.alt td.false
{
	color:red;
}
