
<table class='admin'><tr><td><h1 class='admin'>Change Password</h1></td></tr>
<tr><td>

<form method="get" action="/meatoo/change_passwd_action/">
<br>
<br>
Old passwd <input "type="password" id="old_passwd" name="old_passwd" class="textwidget" size="30" value="" />
<br>
<br>
New passwd <input type="password" id="new_passwd" name="new_passwd" class="textwidget" size="30" value="" />
<br>
Confirm <input type="password" id="confirm_passwd" name="confirm_passwd" class="textwidget" size="30" value="" />
<br>
<br>
<input type="submit" value="Change passwd" />
</form>

</td></tr>
</td></tr></table>
