
<b>Search results for:</b> $srch
<p>Show packages needing a version <a href="/meatoo/search/short/$srch/$type">bump</a>
or <a href="/meatoo/search/long/$srch/$type">all</a> releases.</p>
<table>
<tr> <th>Portage Name</th> <th>Portage Version</th>
<th>Freshmeat Version</th> <th>Freshmeat Release Date</th> 
<th>Maintainers</th></tr>

#for $pkg in $packages
    <tr class="alt">
    <td><a class="nav"
        href="/meatoo/details/$pkg.portageCategory/$pkg.packageName"
        title="Package details">
        $pkg.portageCategory/$pkg.packageName
        </a></td>
    #if pkg.fmNewer
        <td class="hilite">$pkg.portageVersion</td>
    #else
        <td>$pkg.portageVersion</td>
    #end if
    <td><a href="http://freshmeat.net/projects/$pkg.packageName/">$pkg.latestReleaseVersion</a>
    <a class="nav" href="http://freshmeat.net/redir/$pkg.packageName/$pkg.urlChangelog/url_changelog/" title="Upstream ChangeLog">
    <img border=0 src="/meatoo/static/changelog.gif"></a>
    </td><td>$pkg.latestReleaseDate</td>
    <td>$pkg.maintainerName</td>
    </tr>
#end for
</table>

